*  .title {
  font-family: 'Montserrat', san-serif;
  font-weight: 700;
  font-size: 5vw;
  color:#ff98be;
  margin-bottom: 2vw;
  border: solid, #141414;
}

.border {
  background-color: #141414;
  background-position: center;
  opacity: 76%;
}

body {
  color: #f291b5;
  background: #0b0f26;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vw;
}

.subtitle {
  margin-top: 1vw;
  font-family: 'Montserrat', san-serif;
  font-size: 2.5vw;
  font-weight: 100;
  color: #d8d1ff
}

.homepage {
  background-image: url('/audio/images/pitches.gif'); 
  background-size: contain;
  height:auto;
  float: right;
  background-repeat: no-repeat;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  min-width: 100vw;
  margin: auto;
  text-align: center;
  background-position: center;
opacity: 95%;

} 

/* CSS Button Style below*/
.button-82-pushable {
  position: relative;
  margin-right: 10px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
   
    #f291b5 8%,
    #0b0f26 92%,
    #0b0f26 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #8076a6;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}


.wrapper {
  padding: 35px 40px;
  border-radius: 20px;
  background: #141414;
}

.wrapper header {
  display: flex;
  color: #B2B2B2;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  align-items: center;
}
header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
header input {
  outline: none;
  border-radius: 30px;
}
.volume-slider input {
  accent-color: #fff;
}

.piano-keys {
  display: flex;
  list-style: none;
  margin-top: 40px;
}
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
}
.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
  background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 0%;
  color: #A2A2A2;
  font-size: 1.13rem;
  text-align: center;
}

.piano-keys .black span {
  bottom: 13px;
  color: #888888;
  margin-left: -15px;
  font-size: 1rem;
}

.digitalName {
  display: inline-block;
  background-color: #0B0F26;
  color: #F291B5;
  padding: 4px;
  font-family: 'Digital-7 Mono', monospace;
  font-size: 36px;
  letter-spacing: 2px;
  border-radius: 5px;
  text-shadow: 0 0 5px rgb(209, 36, 36);
  animation: glowing 1.5s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px  #8076A6;
  }
  50% {
    box-shadow: 0 0 20px  #8076A6;
  }
  100% {
    box-shadow: 0 0 5px  #8076A6;
  }
}

/******************* BOTTOM HALF */

.bottomHalf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden; 
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.qAndA {
  display: flex;
  flex-direction: column;
  
}

.question {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.answer {
  margin-top: 20px;
  font-size: 24px;
  width: 900px;
}



/****************** MEDIA QUERY */

.media {
  margin-top: 4vh;
  max-width: 98vw;
}
@media screen and (max-width: 100vh) {
  .wrapper {
    padding: 3vh 4vw;
    border-radius: 20px;
    max-width: 100vw;
    background: #141414;
    margin-top: 3vh;

  }
  header {
    flex-direction: column;
  }
  header span {
    font-size: 0.9rem;
    margin-right: 8px
  }
  header :where(h2, .column) {
    margin-bottom: 13px;
    font-size: 1rem;
  }
  .volume-slider input {
    max-width: 30vw;
  }
  .piano-keys {
    margin-top: 5%;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    z-index: 2;
    width: 5vw;
    height: 14vh;
    margin: 0 -2.5vw 0 -2.5vw;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
  }
  .piano-keys .white {
    height: 23vh;
    width: 7vw;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
  }
  @media screen and (max-width: 400px) {
    .piano-keys .black {
      z-index: 2;
      width: 4vw;
      height: 14vh;
      margin: 0 -1vw 0 -1vw;
      border-radius: 0 0 5px 5px;
      background: linear-gradient(#333, #000);
    }
  
    .piano-keys .white {
      height: 18vh;
      width: 6vw;
      border-radius: 8px;
      border: 1px solid #000;
      background: linear-gradient(#fff 96%, #eee 4%);
    }
    .piano-keys .key span {
      font-size: 0.4rem;
    }
  }

 
  
}

